#box {

    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position-x: center;
    background-position-y: 20px;
    background-repeat: no-repeat;
}

#box1 {
    margin-left: 30vh;
    margin-top: 15vh;
    background-image: url(../pcone/客廳_Unnamed\ space-181.png);
    background-repeat: no-repeat;

}



.img-squre {
    width: 1000px;
    height: 119px;
    background-size: cover;
    display: inline-block;
}




.img-place {
    background-image: url(../pcone/Title_2.png);
    margin-left: 270px;
    margin-top: 160px;
}

.img-things {
    background-image: url(../pcone/家管.png);
    margin-left: 170px;
    margin-top: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: 8px;

}


.img-triangle {
    width: 360px;
    height: 450px;

}

.img-things1 {
    background-image: url(../pcone/學生.png);
    margin-left: 120px;
    display: inline-block;
}


.img-triangle1 {
    width: 290px;
    height: 270px;
}


.img-things2 {
    background-image: url(../pcone/上班族.png);
    margin-left: 90px;
    display: inline-block;
}


.img-triangle2 {
    width: 390px;
    height: 428px;
}

a:hover {
    background-image: url(../pcone/家管.png);
    background-position-x: 13px;
    background-position-y: -3px;
    background-repeat: no-repeat;
}